    @import 'now-ui-kit/variables';
    .navbar .logo-container {
        width: 200px;
        height: auto;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 0;
        border: 1px solid transparent;
    }
    
    .navbar .navbar-nav.navbar-logo {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 200px;
        top: -4px;
    }
    
    .page-header {
        max-height: 100vh;
    }
    
    .search-gls {
        padding-top: 15%;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 50px;
        .input-search-gls {
            margin-bottom: 20px;
        }
        .col-sm-1 {
            margin-right: 0;
            margin-left: 0;
        }
        i {
            color: rgba(255, 255, 255, 0.8);
        }
        .btn-primary {
            background-color: #ffda44 !important;
        }
        .btn-primary:hover,
        .btn-primary:focus {
            background-color: #f7c600 !important;
        }
    }
    
    .kategori-gls {
        .kategori-item {
            border: solid 0.5px rgba(222, 222, 222, 0.3);
            border-radius: 7px;
            margin: 15px;
            background-color: transparent;
            img {
                width: 100%;
                max-width: 80px;
            }
            h3 {
                margin-bottom: 5px;
                color: #fff;
                font-weight: 300;
            }
            a:hover,
            a:focus {
                text-decoration-style: none !important;
                list-style-type: none !important;
                text-decoration: none !important;
                h3 {
                    color: #aaa;
                    font-weight: 300;
                }
            }
        }
    }
    
    .page-header[filter-color="orange"] {
        background: url(../img/overlays/06.png);
    }
    
    .mask {
        background: rgba(44, 44, 44, 0.8);
    }
    /* ---------------------------------------------------------------- */
    
    .page-header.page-header-small {
        height: 30vh;
        max-height: 440px;
    }
    
    .search-gls-2 {
        padding-top: 7%;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 50px;
        .input-search-gls {
            margin-bottom: 20px;
        }
        .col-sm-1 {
            margin-right: 0;
            margin-left: 0;
        }
        i {
            color: rgba(255, 255, 255, 0.8);
        }
        .btn-primary {
            background-color: #ffda44 !important;
        }
        .btn-primary:hover,
        .btn-primary:focus {
            background-color: #f7c600 !important;
        }
    }
    
    .section {
        .img-kate img {
            width: 100%;
            margin: 7px;
        }
    }
    
    .daftar-gls {
        .detail-gls {
            border: solid 1px rgba(200, 200, 200, 0.8);
            border-radius: 7px;
            margin: 0 25px;
            padding: 20px;
            background-color: transparent;
            min-height: 120px;
        }
        .item-gls {
            border: solid 1px rgba(200, 200, 200, 0.8);
            border-radius: 7px;
            margin: 0 15px;
            background-color: transparent;
            min-height: 120px;
            hr {
                margin-top: 15px;
                margin-bottom: 0px;
                padding: 0;
            }
            a {
                color: #f7c600;
            }
            .fa {
                color: #f7c600;
            }
            .badge {
                font-weight: 400;
                text-transform: none;
                padding-right: 15px;
                padding-left: 15px;
            }
            .item {
                p {
                    margin-top: 20px;
                }
                h4 {
                    margin-top: 20px;
                    margin-bottom: 5px;
                }
                .istilah {
                    padding-left: 30px;
                }
                .icon-kate i {
                    margin: 3px;
                    font-weight: 200;
                }
            }
        }
    }
    
    .popover {
        box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
        border: none;
        line-height: 1.7;
        max-width: 240px;
        .popover-title {
            color: #ffda44 !important;
            text-transform: uppercase;
            margin: 0;
            margin-top: 5px;
            border: none;
            background-color: transparent;
        }
        &:before {
            display: none;
        }
        &.bs-tether-element-attached-top:after {
            border-bottom-color: #fff;
            top: -9px;
        }
        &.popover-primary {
            background-color: #f7c600 !important;
            color: #fff;
        }
    }
    
    .notf-section {
        margin-top: 3em;
    }
    
    .notfound {
        h1 {
            font-size: 80px;
        }
        span {
            font-size: 200px;
        }
    }
    
    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    #myImg:hover {
        opacity: 0.7;
    }
    /* The Modal (background) */
    
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1040;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9);
        /* Black w/ opacity */
    }
    /* Modal Content (Image) */
    
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        z-index: 10400;
    }
    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }
    /* Add Animation - Zoom in the Modal */
    
    .modal-content,
    #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }
        to {
            -webkit-transform: scale(1)
        }
    }
    
    @keyframes zoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }
    /* The Close Button */
    
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        z-index: 1040;
    }
    
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
    /* 100% Image Width on Smaller Screens */
    
    @media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }
    
    #admin {
        card p {
            color: #111;
        }
    }
    
    .fixed-table-toolbar .columns {
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 34px;
    }
    
    .fixed-table-toolbar .columns .btn {
        margin: 0 2px;
        border-radius: 30px;
    }
    
    .light-bootstrap {
        .btn .fa {
            width: 20px;
        }
        .sidebar .nav a,
        .table>tbody>tr .td-actions .btn,
        .caret {
            -webkit-transition: all 150ms ease-in;
            -moz-transition: all 150ms ease-in;
            -o-transition: all 150ms ease-in;
            -ms-transition: all 150ms ease-in;
            transition: all 150ms ease-in;
        }
        .table .td-actions .btn {
            opacity: 0.36;
            filter: alpha(opacity=36);
        }
        .btn-simple.btn-icon {
            padding: 8px;
        }
        .btn.btn-icon {
            padding: 8px;
        }
    }
    
    .fixed-table-container thead th .both {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQ…YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC);
        background-position: right 2px;
    }